
/*------ Document font style ------*/
html{
    font-family: 'Lato', sans-serif;
    height: 100%;
}
/*---------------------------------*/

/*
    Selecting the header section and setting a fixed size
    the !important is used to override other styles
*/
#header{
    height: 241px !important;
}
#loginSpace > iframe{
height: 241px;
}
/*------ Body color styles ------*/
body{
    background-color:white;
    height: 100%;
    
}
.bodyBBK{
    background-color:#027f8d;
}

.body2BBK{
    background-color: #228d02;
}
.body3{
    background-color: aqua;
}
/*--------------------------------*/

/*------ Text Font Properties ------*/
.title{
    color: antiquewhite;
}
.textGreen{
    color:green;
}
.textWhite{
    color: white;
}
.RegForm{
    padding-left: 30px;
}
.boldText{
    font-weight: bold;
}
/*-------------------------------*/

/*------ Images property ------*/
.logoBBK{
    width: 280px;
    height: 241px;
}
.logoTextBBK{
    padding-top: 50px;
}
.BikingImage{
    padding-top: 80px;
}
.column > img{
    width: 70%;
}
/*-----------------------------*/
/*
.title 1
*/
.title1{
    padding-left: 50px;
    padding-right: 50px;
    text-transform: capitalize;
}
/*------ Buttons style ------*/

.NavButton{
    background-color: #228d02;
    color: white;
    padding: 10px;
    width: 270px;
    margin: 40px;
    border: none;
}

.shopButton{    
    background-color: #228d02;
    color: white;
    padding: 5px;
    width: 120px;
    border: none;}

.loginButton{

    background-color: #228d02;
    color: white;
    font-size: 10px;
    width: 100px;
    border: none;
    text-align: center;
}

/*---------------------------------------*/
.row:after{
    content: "";
    display: table;
    padding: 50px;
    clear: both;
}
.column{
    width: 32%;
    font-family: 'Lucida Sans',sans-serif;
    padding: 20px;

}

.column > h3{
    font-size: 34px;
}
.column>button{
    background-color: aquamarine;
    color: black;
    padding: 5px;
    color: #027f8d;
   
}
/*----Responsivness------------*/
@media screen and (max-width:600px) {
    .column{width: 100%;padding: 20px;}
    .column>img{width: 40%;height: 40%;}
    .column>p{padding: 5px}
    .column>h3{padding: 10px;}
    .column>button{margin-left: 10px;}
}

/*------Form Styles---------*/
input,label{
    width: 50%;
    padding: 25 px;
}
input[type=submit]{
    background-color:green;
    color: white;
    padding: 10px;
    font-size: 25px;
    text-transform: capitalize;
}
.row1{
    height: 100%;;
}


    .flex-fill {
        flex:1;
    }

